.movie--container {
    display: flex;
    padding: 3% 7%;

}

.movie--title {
    font-weight: 500;
    font-size: 35px;
}

.card--body {
    display: flex;
    width: 40%;

    height: fit-content;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(233, 230, 230);
    padding: 1%;
}

.thumbnail {
    width: 95%;
}

.movie--info {
    margin-left: 2%;
}

.list-group {
    list-style-type: none;
    border: 1px solid rgb(233, 230, 230);
    width: 60vw;
    height: fit-content;
    margin-top: 20px;
}

.list-group li {
    border: 1px solid rgb(233, 230, 230);
    display: block;
    width: 100%;
    padding: 15px;
}

.movie-about-container {
    display: flex;
    justify-content: center;
}

.about--movie {
    width: 80%;
    background-color: rgb(28, 31, 31);
    height: 200px;
    padding: 3rem;
    border-radius: 12px;
    margin: 30px auto;
}

.about--movie {
    margin-bottom: 30px;
    color: #fff;
}

.button-about {
    padding: .5rem 1.5rem;
    position: relative;
    background-color: rgb(15, 68, 128);
    border-radius: 8px;
    margin-right: 8px;
    color: #fff;
}

.paragram--about {
    padding-bottom: 20px;
}

.button-default {
    color: #fff;
}

@media only screen and (max-width: 900px) {
    .movie--container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .movie--title {
        font-size: 16px;
        text-decoration: solid;
    }

    .card--body {
        width: 50vw;
        height: auto;
        padding: 10px 5px;
    }

    .list-group {
        width: 50vw;
        height: auto;
    }


}